@import "tailwindcss";

@theme {
  --font-cormorant: var(--font-cormorant);
  --font-lato: var(--font-lato);
  --color-custom: #4b4036;
  --color-custom2: #b2a69b;
}

@utility headline {
  @apply font-cormorant text-custom italic;
}

@utility subheadline {
  @apply text-custom2 uppercase text-[14px] tracking-[3.25px] leading-[24px];
}

@layer base {
  body {
    font-family: var(--font-lato), sans-serif;
  }
}



